
<div class="container text-center">
    <h4>Und heute öffnen wir wieder ein Türchen...</h4>
    <br />
    </br>
    <div class="row">
        {{#each l1}}
            <div class="col-sm-2">
                <div>
                    <a href="/doors/{{this}}">
                        <img src="../../images/{{this}}.jpg" class="img-responsive" alt="Lights" style="width:50%">
                    </a>
                </div>
            </div>
        {{/each}}
    </div>
    </br>
    <div class="row">
        {{#each l2}}
            <div class="col-sm-2">
                <div>
                    <a href="/doors/{{this}}">
                        <img src="../../images/{{this}}.jpg" class="img-responsive" alt="Lights" style="width:50%">
                    </a>
                </div>
            </div>
        {{/each}}
    </div>
    </br>
    <div class="row">
        {{#each l3}}
            <div class="col-sm-2">
                <div>
                    <a href="/doors/{{this}}">
                        <img src="../../images/{{this}}.jpg" class="img-responsive" alt="Lights" style="width:50%">
                    </a>
                </div>
            </div>
        {{/each}}
    </div>
    </br>
    <div class="row">
        {{#each l4}}
            <div class="col-sm-2">
                <div>
                    <a href="/doors/{{this}}">
                        <img src="../../images/{{this}}.jpg" class="img-responsive" alt="Lights" style="width:50%">
                    </a>
                </div>
            </div>
        {{/each}}
    </div>
    </br>
    <br/>
    <h4>Viel Spaß Rätseln in der Vorweihnachtszeit!</h4>

    <div class="row col-sm-offset-2 col-sm-8" style="text-align: center">
        </br>
        </br>
        </br>
        <p class="text-center"><a href="#">Zum Beginn der Seite</a></p>
    </div>
</div>